In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
path="used_car_dataset.csv"

In [3]:
df=pd.read_csv(path,index_col=0)

In [4]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'transmission',
       'owner', 'seats'],
      dtype='object')

In [5]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
transmission      object
owner             object
seats            float64
dtype: object

In [6]:
# no of seats must be in int and selling price,km driven can be in float

In [7]:
# changing dtypes

df=df.astype({"km_driven":"float","seats":"Int64","selling_price":"float"})

In [8]:
# extracting brand name from car name column

df["company"]=df["name"].str.split().str[0]

In [9]:
#  checking which barnd name are not fully extracted
print(df["company"].unique())

['Maruti' 'Skoda' 'Honda' 'Hyundai' 'Toyota' 'Ford' 'Renault' 'Mahindra'
 'Tata' 'Chevrolet' 'Fiat' 'Datsun' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Audi' 'Volkswagen' 'BMW' 'Nissan' 'Lexus' 'Jaguar' 'Land' 'MG' 'Volvo'
 'Daewoo' 'Kia' 'Force' 'Ambassador' 'Ashok' 'Isuzu' 'Opel' 'Peugeot']

In [10]:
# replacing some brand name which are not complete
dic={"Land":"Land_Rover","Ashok":"Ashok_Leyland"}
df["company"]=df["company"].replace(dic)

In [11]:
# dropping name of car column which is no more useful
df.drop(columns=["name"],inplace=True)

In [12]:
# changing names of some columns to more meaningful names
df=df.rename(columns={"year":"year_of_purchase","fuel":"fuel_type","transmission":"transmission_type","seats":"no_of_seats"})

In [13]:
# it is good practice to place target column at last index
df.insert(0, 'company', df.pop('company'))
df.insert(len(df.columns)-1, 'selling_price', df.pop('selling_price'))

In [14]:
df.to_csv("clenaned_car_data.csv")